target
.cargo
.smeder
.idea

.vscode/*
!.vscode/extensions.json

out
dist
node_modules
.vscode-test/
*.vsix
profile.json

# Visual Studio
.vs/
bin/
obj/
*.dll
*.exe
*.pdb
*nuget.g.*
*nuget.g.*
*.cache
*.DotSettings

# Babbelaar
*.babbelaar-object
babbelaar-programma
example-workspace/.vscode/
uit
