target
.vscode
.cargo
.smeder
.idea

out
dist
node_modules
.vscode-test/
*.vsix
profile.json

# Visual Studio
.vs/
bin/
obj/
*.dll
*.exe
*.pdb
*nuget.g.*
*nuget.g.*
*.cache
*.DotSettings

# Babbelaar
*.babbelaar-object
babbelaar-programma
